@import '../../../styles/settings.scss';

.formSize {
  width: 500px;
}

.tableSize{
  width: 600px;
}


.component {
  margin: 40px auto;
  display: flex;
  flex-wrap: wrap;
  width: 30px;
  justify-content: center;
}

.textField {
  width: 220px;
}
