@import '../../../styles/settings.scss';

.component {
  padding: $base-size;
  text-align: center;
}


.addInMenu, .foot{
  margin-top: 35px;
}


.optionButtons{
  left: 95px;
}


.tableOption {
  max-width: 30%;
  border: 1px solid #345678;
  padding: 20px 42px;
  border-radius: 5px;
  margin-left: 425px;
  text-align: left;
}

.tableOption p {
  font-weight: bold;
}

.cost {
  max-width: 30%;
  border: 1px solid #345678;
  padding: 20px 42px;
  border-radius: 5px;
  margin-left: 425px;
  text-align: center;
}
